<% if message.role == "user" %>
  <div class="text-end my-3">
    <div class="d-inline-block px-3 pt-3 p bg-primary text-white" style="border-radius: 20px;">
      <%# <p class="mb-1"><strong><%= message.role.capitalize </strong></p> %>
      <%= simple_format(message.prompt) %>
    </div>
  </div>
<% else %>
  <div class="text-start my-3">
    <div class="d-inline-block p-2 bg-light" style="border-radius: 20px;">
      <%# <p class="mb-1"><strong><%= message.role.capitalize </strong></p> %>
      <%= simple_format(message.prompt) %>
     <%# link_to vers la route pour update_favorite à laquelle je passe mon instance pour pouvoir récupérer l'id dans mon action %>
     <%#= link_to toggle_favorite_recipe_path(message.recipe) do %>
     <%# if .favorite? %>
    <%# else %>
    <%# if message.recipe.favorite? %>
      <%# <%= image_tag "fav-light.png", alt: "return", width: 40, height: 40, class: "rounded-circle" %>
    <%# else %>
      <%# <%= image_tag "fav.png", alt: "return", width: 40, height: 40, class: "rounded-circle" %>
    <%# end %>

    <%= link_to llm_index_recipes_path do %>
  <%= image_tag "shelfie-robot2.png", alt: "return", width: 40, height: 40, class: "rounded-circle" %>
<% end %>

    </div>
  </div>
<% end %>
