<div class="d-flex flex-column vh-100">

  <!-- Top navigation -->
  <%= render partial: 'shared/top_nav', locals: { with_add_button: true } %>

  <!-- Fixed header with chat title and retour -->
  <div class="position-fixed top-0 start-0 w-100 bg-light border-bottom" style="z-index: 1050; padding: 0.75rem 0;">
    <div class="container px-3">
      <div class="row align-items-center">
        <div class="col-auto">
          <%= link_to chats_path do %>
            <%= image_tag "view.png", alt: "return", width: 40, height: 40, class: "rounded-circle p-1" %>
          <% end %>
        </div>
        <div class="col text-center">
          <h1 class="h5 mb-0"><%= @chat.title %></h1>
        </div>
        <div class="col-auto"></div>
      </div>
    </div>
  </div>

  <!-- Messages list -->
  <div id="messages" class="flex-grow-1 overflow-auto px-3" style="margin-top: 80px; margin-bottom: 90px;">
    <%= render partial: "messages/message", collection: @messages, as: :message %>
  </div>

  <!-- Message form fixed at the bottom -->
  <div class="position-fixed bottom-0 start-0 w-100" style="z-index: 1050; padding: 1rem 0;">
    <div class="container px-3">
      <%= render "messages/form", chat: @chat, message: @message %>
    </div>
  </div>

</div>
