<div class="d-flex flex-column full-height">


  <div class="position-fixed top-0 start-0 w-100 pt-3" style="z-index: 1050; padding: 0.5rem 0; background: #f4f4f4;">
    <div class="container">
        <div class="row justify-content-between">
          <div class="col-4">

          <%= link_to chats_path do %>
            <%= image_tag "return.png", alt: "return", width: 50, height: 50, class: "rounded-circle p-1" %>
          <% end %>

          </div>

          <div class="col-4">
          <h1 class="h4 mb-3"><%= @chat.title %></h1>
          </div>
        </div>
    </div>
  </div>


  <div id="messages" class="overflow-auto">
    <%= render "messages/messages", messages: @messages %>
  </div>

  <div id="form" class="">
    <%= render "messages/form", chat: @chat, message: @message %>
  </div>
</div>
