<div class="container my-1">

  <div class="text-start my-3">
      <%= link_to "Return to recipe", recipes_path, class: "btn btn-primary btn-xl" %>
  </div>

  <%= simple_form_for @recipe, html: { multipart: true } do |f| %>

    <div class="mb-3 mt-4">
      <%= f.input :photo, as: :file %>

    <div class="mb-3">
      <%= f.input :name, label: "Name of the recipe" %>
    </div>

      <%= f.input :category, label: "Category" %>
    </div>

    <div class="mb-3">
      <%= f.input :description, label: "Describe shortly your recipe" %>
    </div>

    <div class="mb-3">
      <%= f.input :rating, label: "Rating" %>
    </div>

  <% @recipe.ingredients_recipe.each do |ingredient| %>
    <div class="row d-flex justify-content-between mb-3" data-controller= "ingredients" data-ingredients-target="row">
      <div class="ingredient-row" data-ingredients-target="remove">
        <div class="col-4 mb-2">
          <%= text_field_tag "ingredients[][name]", ingredient.name, placeholder: "Ingredient" %>
        </div>

        <div class="col-4">
          <input type="text" name="ingredients[][quantity]" value="<%= ingredient.quantity %>" />
        </div>

        <div class="col-2">
          <select name="ingredients[][unit]">
            <%= options_for_select(IngredientsRecipe::VALID_CATEGORIES, ingredient.unit) %>
          </select>
        </div>

        <div class="col-2 p-0 d-flex justify-content-center" >
          <button data-ingredients-target= "button" data-action= "click->ingredients#addIngredients" type="button" class="btn btn-primary">+</button>
          <button data-ingredients-target= "delete" data-action= "click->ingredients#removeRow" type="button" class="trash"><i class="fa-solid fa-trash"></i></button>
        </div>

      </div>
    </div>
  <% end %>

      <div class="mb-3">
        <%= f.input :duration, label: "Duration" %>
      </div>

      <div class="mb-3">
        <%= f.input :steps, as: :text, input_html: { rows: 6 }, label: "Steps" %>
      </div>

      <div class="text-center mt-4">
        <%= f.button :submit, "Update recipe", class: "btn btn-primary btn-xl" %>
      </div>

      <% end %>
    </div>
