<div class="container my-1">

  <div class="d-flex justify-content-between text-center mb-4">
    <%= link_to "return", root_path, class: "btn btn-primary" %>
    <%= link_to "favorites", pages_dashboard_path, class: "btn btn-primary" %>
    <%= link_to "add a recipe", new_recipe_path, class: "btn btn-primary" %>
  </div>

  <h1 class="text-center mb-4">List of my recipes</h1>

  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">

    <% @recipes.each do |recipe| %>
      <div class="col">
        <div class="card h-100 shadow-sm">
          <div class="card-body">
            <%# <div class="card-img"><%= cl_image_tag recipe.photo.key, class: "picture" %>
              <h5 class="card-title"><%= recipe.name %></h5>
              <% if recipe.description.present? %>
                <p class="card-text"><%= truncate(recipe.description, length: 100) %></p>
              <% end %>

              <%= link_to "See more", recipe_path(recipe), class: "btn btn-outline-primary" %>

              <div class="d-flex justify-content-end">
              <%= link_to recipe_path(recipe), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-primary btn-sm" do %>
              <i class="fa-solid fa-trash"></i>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>

  </div>

</div>










