<div class="decoration">
<h1 class="d-flex justify-content-center">List of my recipes</h1>

<ul>
<% @recipes.each do |recipe| %>

<li> <%= link_to recipe.name, recipe_path(recipe) %> </li>

<% end %>
</ul>

<div class="ms-3"><%= link_to "Add a recipe", new_recipe_path(@recipe), class: "btn btn-primary" %></div>
</div>

<%= @recipes %>
 <%= @recipe.each do |recipe| %>
 <%= @recipe.name %>
 <%= @recipe.description %>
<%# <%= link_to "Add a recipe", recipe_path(@recipe) %> %>

