<%= render partial: "shared/top_nav", locals: { return_url: root_path, fav_display: true, edit_display: false, add_display: true, add_ingredient: false } %>

<div class="container my-1" style="padding-bottom: 7rem;">

  <h1 class="text-center mb-4 mt-4">List of my recipes</h1>


  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    <% @my_recipes.each do |recipe| %>

      <div class="col">
        <%= link_to recipe_path(recipe), class: "card h-100 shadow-sm text-decoration-none" do %>
          <div class="card h-100 shadow-sm">
            <div class="card-product-light">
              <%= cl_image_tag recipe.photo.key, id: "pic" if recipe.photo.attached? %>

              <div class="card-description justify-content-center pt-3 px-2">
                <h5 class="ms-2"><%= recipe.name %></h5>
                <% if recipe.description.present? %>
                  <p class="ms-2 pt-2"><%= truncate(recipe.description, length: 100) %></p>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
