<%= render partial: "shared/top_nav", class: "border border-5 border-secondary", locals: { return_url: root_path, fav_display: false, edit_display: false, add_display: true, add_ingredient: false, fav_robot: false } %>
<div class="bandeau_top_ingr_dark"></div>

<div class="container my-1 ">
  <h1 class="text-center mb-5 mt-4 text-secondary">My assistant recipes</h1>

  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4" style="margin-bottom: 100px;">
    <% @llm_recipes.each do |recipe| %>

      <div class="col">
        <%= link_to recipe_path(recipe), class: "card h-100 shadow-sm text-decoration-none" do %>
          <div class="card h-100 shadow-sm text-secondary">
            <div class="card-product-dark">
              <%= cl_image_tag recipe.photo.key, id: "pic" if recipe.photo.attached? %>
              <div class="card-description justify-content-center pt-3 px-2">
                <h5 class="ms-2"><%= recipe.name %></h5>
                <% if recipe.description.present? %>
                  <p class="ms-2 pt-2"><%= truncate(recipe.description, length: 100) %></p>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
