<div class="container my-1">

  <div class="text-start my-3">
      <%= link_to "Return to recipe", recipes_path, class: "btn btn-primary btn-xl" %>
  </div>

  <%= simple_form_for @recipe, html: { multipart: true } do |f| %>

    <div class="mb-3">
      <%= f.input :photo, as: :file %>

      <%= f.input :category, label: "Category" %>
    </div>

    <div class="mb-3">
      <%= f.input :name, label: "Name of the recipe" %>
    </div>

    <div class="mb-3">
      <%= f.input :ingredients, label: "List of your ingredients" %>
    </div>

    <div class="mb-3">
      <%= f.input :quantity, label: "Quantity" %>
    </div>

    <div class="mb-3">
      <%= f.input :description, label: "Description" %>
    </div>

    <div class="text-center mt-4">
      <%= f.button :submit, "Create recipe", class: "btn btn-primary btn-xl" %>
    </div>
  <% end %>


</div>
