<div class="container my-5">

  <%= simple_form_for @recipe, html: { multipart: true } do |f| %>

    <div class="mb-3">
      <%= f.input :photo, as: :file %>

      <%= f.input :category, label: "Category" %>
    </div>

    <div class="mb-3">
      <%= f.input :name, label: "Name of the recipe" %>
    </div>

  <div class="row mb-3">
    <div class="col-4">
      <%= f.input :ingredients, collection: ["Pâtes", "Riz", "Poulet", "Boeuf"], as: :select, prompt: "Ingredients"  %>
      </div>

    <div class="col-4">
      <%= f.input :quantity, label: "Quantity" %>
    </div>

    <div class="col-4">
      <%= f.input :unit, collection: ["ml", "cl", "l", "g", "kg"], as: :select, prompt: "Unité" %>
    </div>
    
  </div>

    <%# <div class="mb-3">
      <%= f.input :quantity, label: "Quantity" %>
    <%# </div> %>

    <div class="mb-3">
      <%= f.input :description, label: "Description" %>
    </div>

    <div class="text-center mt-4">
      <%= f.button :submit, "Create recipe", class: "btn btn-primary" %>
    </div>
  <% end %>

  <div class="text-center mt-2">
      <%= link_to "Return to recipe", recipes_path, class: "btn btn-primary" %>
  </div>

</div>
