<%= render partial: "shared/top_nav", locals: { return_url: recipes_path, fav_display: false, edit_display: true, add_display: false, add_ingredient: false, fav_robot: false } %>



<div class="container">

<h1 class="text-center"><%= @recipe.name %></h1>

  <div class="container-img mt-4">
    <%= cl_image_tag @recipe.photo.key, class: "picture" if @recipe.photo.attached? %>
  </div>

    <%#  <%= if message.recipe.favorite? %>
      <%# <%= image_tag "fav-light.png", alt: "return", width: 40, height: 40, class: "rounded-circle" %>
    <%# <%= else %>
      <%# <%= image_tag "fav.png", alt: "return", width: 40, height: 40, class: "rounded-circle" %>
    <%# end %>
  <%# <ul class="list-group list-group-flush"> %>

  <div class="mt-3 row row-cols-2 g-2">
    <div class="col">
        <div class="card-recipe">

          <div class="text-center pt-3 pb-2">
            <strong>Category:</strong>
              <p><%= @recipe.category %></p>
            <strong>Duration:</strong>
              <p><%= @recipe.duration %> min</p>
          </div>

        </div>
      </div>

    <div class="col">
      <div class="card-recipe">
        <div class="text-center pt-4" style="padding-bottom: 3.5rem;">
            <strong>Rating:</strong>
            <p class="mt-2"><% rating = @recipe.rating.to_i %>
            <% 5.times do |i| %>
              <% if i < rating %>
                <i class="fas fa-star text-warning"></i>
              <% else %>
                <i class="far fa-star text-muted"></i>
              <% end %>
            <% end %>
            </p>
        </div>
      </div>
    </div>

  </div>

    <div class="card-recipe mt-2 w-100">
      <div class="text-center py-4">
        <p><strong>Ingredients:</strong></p>

          <ul class="mb-1 list-unstyled">
            <% @recipe.ingredients_recipes.each do |ingredient| %>
              <li class="mb-1"><strong><%= ingredient.name %></strong>
              <%= ingredient.quantity %> <%= ingredient.unit %></li>
            <% end %>
          </ul>

      </div>
    </div>

    <div class="card-recipe mt-2 pt-4 px-2">
      <ul><strong>Steps:</strong>
        <ol>
          <% @recipe.steps.each do |step| %>
            <li><%= step.description %></li><br>
          <% end %>
        </ol>
      </ul>
    </div>


  <div style="margin-bottom: 100px;">

    <div class="d-flex justify-content-between">

      <div class="mx-auto">
        <%= button_to "Mark as done", mark_as_done_recipe_path(@recipe), method: :post, class:"btn btn-primary text-secondary" %>
      </div>

      <%= link_to recipe_path(@recipe), data: {turbo_method: :delete, turbo_confirm: "Are you sure ?"} do %>
      <%= image_tag "icons/trash-icon.png", alt:"trash", style:"height: 35px; width: 35px;" %>
      <% end %>
      </div>

  </div>



      <%# <div class="col text-align-end">
        <%= link_to recipe_path(@recipe), data: {turbo_method: :delete, turbo_confirm: "Are you sure ?"} do %>
        <%# <i class="fa-solid fa-trash"></i> %>
        <%# <% end %>
      <%# </div> %>
</div>
