<!-- filepath: /Users/fabienhoarau/code/robagcoto/shelfie-proto/app/views/shared/_mobile_navbar.html.erb -->
<div class="navbar-mobile positioned d-md-none shadow">
  <div class="d-flex justify-content-around align-items-center px-3 py-1 gap-3" style="height: 60px;">
    <%= link_to root_path do %>
      <%= image_tag "picto_navbar/picto_navbar_home.png", alt: "home", style: "height:40px;" %>
    <% end %>

    <%= link_to house_house_ingredients_path(@house) do %>
      <%= image_tag "picto_navbar/picto_navbar_ingr.png", alt: "return", style: "height:40px;" %>
    <% end %>

    <%= link_to "#", data: { bs_toggle: "modal", bs_target: "#ticketModal" } do %>
      <%= image_tag "picto_navbar/picto_navbar_picture.png", alt: "picture", style: "height:40px;" %>
    <% end %>

    <%= link_to recipes_path do %>
      <%= image_tag "picto_navbar/picto_navbar_recipes.png", alt: "recipes", style: "height:40px;" %>
    <% end %>

  </div>
</div>

<div class="modal fade" id="ticketModal" tabindex="-1" aria-labelledby="ticketModalLabel" aria-hidden="true";>
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content align-items-center">

      <div class="modal-header">
        <h1 class="modal-title fs-5" id="ticketModalLabel">Scan a Ticket</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <%= form_with url: analyze_ticket_house_house_ingredients_path(@house), local: true, html: { multipart: true } do |f| %>
          <div class="mb-3">
            <%= f.label :ticket_photo, "Upload or take a photo of your ticket", class: "form-label" %>
            <%= f.file_field :ticket_photo, accept: 'image/*', capture: 'environment', class: "form-control" %>
          </div>
          <div class="modal-footer d-flex justify-content-center">
            <%= f.submit "Scan ticket", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</div>
