  <div class="d-flex justify-content-between text-center m-3">
    <%= link_to return_url do %>
      <%= image_tag "return.png", alt: "return", class:"return-btn" %>
    <% end %>

  <%# full_display = boolean, permet de display seulement sur certaines pages %>
    <%# if local_assigns[:fav_display] %>
    <% if fav_display %>
      <%= link_to "favorites", pages_dashboard_path, class: "btn btn-primary" %>
    <% end %>

    <% if edit_display %>
      <%= link_to "Edit recipe", edit_recipe_path(@recipe), class: "btn btn-primary" %>
    <% end %>

    <% if add_display %>
      <%= link_to "add a recipe", new_recipe_path, class: "btn btn-primary" %>
    <% end %>
  </div>
