
<%= render partial: "shared/top_nav", locals: { return_url: root_path, fav_display: false, edit_display: false, add_display: false, add_ingredient: false } %>

<div class="container mt-4">

  <div class="position-fixed top-0 start-0 w-100" style="z-index: 1050; padding: 0.5rem 0; background: #f4f4f4;">
    <div class="container">
      <%= link_to root_path do %>
        <%= image_tag "return.png", alt: "return", width: 50, height: 50, class: "rounded-circle p-1" %>
      <% end %>
    </div>
  </div>

  <div style="padding-top: 10px; mb-5 pb-5;">
    <div class="row g-3">
      <% @chats.each do |chat| %>
        <div class="col-12 ">
          <div class="d-flex align-items-center justify-content-between w-100 shadow height-150px mb-2 px-3" style="border-radius: 10px; max-width: 100%; ">
            <span class="flex-grow-1 text-truncate">
              <%= link_to chat.title, chat_messages_path(chat),
                    class: "text-decoration-none text-primary margin-100px" %>
            </span>
            <%= button_to chat_path(chat), method: :delete, data: { confirm: 'Supprimer ce chat ?' }, class: "btn btn-sm btn-outline-none ms-2 p-0" do %>
              <%= image_tag "close.png", style: "width: 24px; height: 24px;" %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

    <div style="margin-bottom: 110px;"></div>
  </div>


  <div class="fixed-bottom p-3 bg-#f4f4f4">
    <div class="d-flex gap-2">
      <%= button_to 'Magic recipe with short DLC', create_chat_dlc_chats_path, method: :post, class: "btn btn-secondary btn-lg flex-fill shadow", style: "border-radius: 50px;" %>
      <%= button_to 'Create a recipe with assistant', chats_path, method: :post, class: "btn btn-secondary btn-lg flex-fill shadow", style: "border-radius: 50px;", params: { chat: { prompt: "" } } %>
    </div>
  </div>
</div>
