<%= render partial: "shared/top_nav", locals: { return_url: root_path, fav_display: false, edit_display: false, add_display: false, add_ingredient: false, fav_robot: false } %>
<div class="bandeau_top_ingr"></div>

<div class="container" style="padding-top: 10px; mb-5 pb-5;">
  <h1 class="text-center mb-5">Cooking assistant</h1>

  <div class="row g-3">
    <% @chats.each do |chat| %>
      <div class="col-12 ">
        <div class="d-flex align-items-center justify-content-between w-100 shadow height-150px mb-2 px-3" style="border-radius: 10px; max-width: 100%; ">

          <span class="flex-grow-1 text-truncate">
            <%= link_to chat.title, chat_messages_path(chat),
                  class: "text-decoration-none text-primary margin-100px" %>
          </span>

          <%= button_to chat_path(chat), method: :delete, data: { confirm: 'Supprimer ce chat ?' }, class: "btn btn-sm btn-outline-none ms-2 p-0" do %>
            <%= image_tag "close.png", style: "width: 24px; height: 24px;" %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <div style="margin-bottom: 100px;"></div>

  <div class="fixed-bottom px-3 pb-0 blur-background" style="margin-bottom: 1rem">
    <div class="d-flex bg-success rounded-pill overflow-hidden text-light align-items-center "
         style="height: 60px;">

      <%= link_to "Expiring ingredient",
                  create_chat_dlc_chats_path,
                  class: "flex-fill d-flex justify-content-center align-items-center text-decoration-none text-secondary",
                  data: { turbo_method: :post } %>

      <%= link_to "Ask a recipe",
                  chats_path,
                  class: "flex-fill d-flex justify-content-center align-items-center text-decoration-none text-secondary",
                  data: { turbo_method: :post } %>
    </div>
  </div>
</div>
