<%= render partial: "shared/top_nav",
     locals: { return_url: house_house_ingredients_path,
               fav_display: false,
               edit_display: false,
               add_display: false,
               add_ingredient: false } %>

<turbo-frame id="house_ingredient_<%= @house_ingredient.id %>">
  <div class="container mt-5">
    <div class="card mx-auto bg-secondary"
         style="padding: 20px; border-radius: 20px;
                box-shadow: 0 4px 6px rgba(0,0,0,0.1); height: 75vh;">
      <div class="card-body position-relative" style="padding: 20px;">

        <%= simple_form_for [@house, @house_ingredient], html: { multipart: true } do |f| %>

          <div class="row mb-3">
            <div class="col-6">
              <%= image_tag 'logo.png',
                    class: 'img-fluid',
                    style: 'width:40px; height:40px;',
                    alt: 'Logo' %>
            </div>
            <div class="col-6 d-flex justify-content-end align-items-center">
              <%= f.input_field :quantity,
                    type: :number,
                    min: 0,
                    class: 'form-control form-control-lg text-center quantity-input',
                    wrapper: false %>
            </div>
          </div>


          <h2 class="text-start text-primary mt-3 mb-2"
              style="font-size: 2.8rem; font-weight: bold;">
            <%= @house_ingredient.ingredient.name.capitalize %>
          </h2>


          <div class="mb-3">
            <%= f.input :expiration_date,
                  as: :string,
                  label: false,
                  input_html: {
                    class: 'form-control flatpickr',
                    placeholder: 'YYYY-MM-DD',
                    data: { controller: 'calendar' }
                  } %>
          </div>
          <div class="form-group">
            <p class="text-start mb-2">storage</p>
            <div class="d-flex justify-content-center gap-5 mb-4">
              <% Ingredient::STORAGE_METHODS.each do |method| %>
                <div class="form-check d-flex align-items-center">
                  <%= f.radio_button :storage_method,
                                     method,
                                     checked: (@house_ingredient.storage_method == method),
                                     id: "storage_#{method.downcase}",
                                     class: 'd-none circle-checkbox-input' %>
                  <label for="storage_<%= method.downcase %>"
                         class="circle-checkbox-label">
                    <%= method %>
                  </label>
                </div>
              <% end %>
            </div>
          </div>
          <div class="position-absolute bottom-0 end-0 m-3">
            <%= f.button :submit, "Update", class: "btn btn-primary" %>
          </div>
        <% end %>
        <div class="position-absolute bottom-0 start-0 m-3">
          <%= link_to "×",
                house_house_ingredient_path(@house, @house_ingredient),
                data: { turbo_frame: "house_ingredient_#{@house_ingredient.id}" },
                class: "btn btn-light" %>
        </div>

      </div>
    </div>
  </div>
</turbo-frame>
