  <%= render partial: "shared/top_nav", locals: { return_url: root_path, fav_display: false, edit_display: false, add_display: false, add_ingredient: true } %>

<div class="container">
  <div class="row text-center">

    <h1>My house ingredients</h1>

    <div class="categories-filter d-flex justify-content-between">
      <div class="col card-ingredients m-2">
        <h2>Meats</h2>
      </div>

      <div class="col card-ingredients m-2">
        <h2>Fishes</h2>
      </div>

      <div class="col card-ingredients m-2">
        <h2>Veggies</h2>
      </div>

      <div class="col card-ingredients m-2">
        <h2>Fruits</h2>
      </div>

      <div class="col card-ingredients m-2">
        <h2>Carbs</h2>
      </div>

      <div class="col card-ingredients m-2">
        <h2>Dairies</h2>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="mt-3">
      <h1><%= @house.name %> ingredients</h1>
      <ul>
        <% @house_ingredients.each do |house_ingredient| %>
          <li><%= link_to (house_ingredient.ingredient.name).capitalize, house_house_ingredient_path(@house, house_ingredient) %>: <%= house_ingredient.quantity %> <%= house_ingredient.unit %> you have <strong><%= (house_ingredient.expiration_date - Date.today).to_i %> days left </strong></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
