  <%= render partial: "shared/top_nav", locals: { return_url: root_path, fav_display: false, edit_display: false, add_display: false, add_ingredient: true } %>

<div class="container">
  <div class="row text-center">

      <h1><%= @house.name %> ingredients</h1>

    <div class="categories-filter d-flex justify-content-between">

      <%= link_to house_house_ingredients_path(@house.id, category: "All"), class: "col card-ingredients m-2", data: { turbo_stream: true } do %>
        <%= image_tag "icons/all-icon.png", alt:"all" %>
      <% end %>

      <%= link_to house_house_ingredients_path(@house.id, category: "Meats"), class: "col card-ingredients m-2", data: { turbo_stream: true } do %>
        <%= image_tag "icons/meats-icon.png", alt:"meats" %>
      <% end %>

      <%= link_to house_house_ingredients_path(@house.id, category: "Fish and seafood"), class: "col card-ingredients m-2", data: { turbo_stream: true } do %>
        <%= image_tag "icons/fishes-icon.png", alt:"fishes" %>
      <% end %>

      <%= link_to house_house_ingredients_path(@house.id, category: "Vegetables"), class: "col card-ingredients m-2",data: { turbo_stream: true } do %>
        <%= image_tag "icons/veggies-icon.png", alt:"veggies" %>
      <% end %>

      <%= link_to house_house_ingredients_path(@house.id, category: "Fruits"), class: "col card-ingredients m-2", data: { turbo_stream: true } do %>
        <%= image_tag "icons/fruits-icon.png", alt: "fruits" %>
      <% end %>

      <%= link_to house_house_ingredients_path(@house.id, category: "Bread, cereals, and nuts"), class: "col card-ingredients m-2", data: { turbo_stream: true } do %>
        <%= image_tag "icons/carbs-icon.png", alt: "carbs" %>
      <% end %>

      <%= link_to house_house_ingredients_path(@house.id, category: "Dairy and eggs"), class: "col card-ingredients m-2", data: { turbo_stream: true } do %>
      <%= image_tag "icons/dairies-icon.png", alt: "dairies" %>

      <% end %>

    </div>
  </div>


  <div class="container">
    <div class="row mt-3" id="ingredients">

      <ul class="col-12" style="columns: 2; margin-bottom: 100px">
        <% @house_ingredients.each do |house_ingredient| %>

          <li class="card">
            <div class="card-body border shadow-sm mt-2">

              <div class="card-title row">
                <div class="col-6">
                <%= link_to house_ingredient.ingredient.name.capitalize, house_house_ingredient_path(@house, house_ingredient) %>
                </div>
                <p class="col-6"><%= house_ingredient.quantity %><%= house_ingredient.unit %></p>
              </div>

              <div class="card-text" >
                <p>You have <strong><%= (house_ingredient.expiration_date - Date.today).to_i %> days left</strong></p>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

</div>
