<div class="container">
  <div class="mt-3">
    <h1><%= @house.name %> ingredients</h1>
    <ul>
      <% @house_ingredients.each do |ingredient| %>
        <li><%= link_to (ingredient.ingredient.name).capitalize, house_house_ingredient_path(@house, ingredient) %>: <%= ingredient.quantity %> <%= ingredient.unit %> you have <strong><%= (ingredient.expiration_date - Date.today).to_i %> days left </strong></li>
      <% end %>
    </ul>
  </div>
  <div>
    <p>Create new ingredient: </p>
    <%= link_to new_house_house_ingredient_path(@house), class: "rounded-circle" do %>
      <%= image_tag "view-light.png", alt: "return", width: 50, height: 50, class: "rounded-circle" %>
    <% end %>
  </div>

</div>
