<%= turbo_stream.update("ingredients") do %>

  <% if params[:category] != 'All' %>
    <div class="mb-4 text-center">
      <h3><%= params[:category] %></h3>
    </div>
  <% end %>

 <div class="row row-cols-2 g-3" style="margin-bottom: 100px">
    <% @house_ingredients.each do |house_ingredient| %>
      <div class="col">
        <div class="card rounded-4 bg-secondary shadow-sm h-100">
          <%= link_to house_house_ingredient_path(@house, house_ingredient), class:"text-decoration-none" do %>
            <div class="card-body p-2">
              <div class="d-flex align-items-center">

               <div style="width: 48px;">
                      <% if house_ingredient.ingredient.photo.attached? %>
                        <%= image_tag house_ingredient.ingredient.photo, id:"ing-pic"%>
                      <% end %>
                    </div>
                  </div>

                    <div class="mt-2">
                      <%= house_ingredient.ingredient.name.capitalize %>
                    </div>

                    <div class="text-end fw-bold small">
                      x <%= house_ingredient.quantity %> <%= house_ingredient.unit %>
                    </div>

                  <div class="card-text mt-2 fw-bold text-end">
                    <small>
                      <%= (house_ingredient.expiration_date - Date.today).to_i %> days left
                    </small>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

<% end %>
