<div class="form-background"></div>

<div class="container d-flex align-items-center justify-content-center" style="min-height: 100vh;">
  <div class="row w-100">
    <div class="col-12 col-sm-8 col-md-5 col-lg-4 mx-auto">
      <div class="card shadow p-4">

        <div class="text-center mb-4">

          <%= image_tag "logo_shelfie/logo-shelfie-ai-02.png", width: 150, alt: "Shelfie Logo", class: "mb-2" %>
          <h3 class="mb-0">Log in</h3>
        </div>

        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

          <div class="form-inputs">

            <%= f.input :email,
                        required: false,
                        autofocus: true,
                        input_html: { autocomplete: "email", class: "form-control" },
                        label_html: { class: "form-label" } %>
            <%= f.input :password,
                        required: false,
                        input_html: { autocomplete: "current-password", class: "form-control" },
                        label_html: { class: "form-label" } %>
            <%= f.input :remember_me, as: :boolean, wrapper_html: { class: "form-check mb-3" } if devise_mapping.rememberable? %>
          </div>

          <div class="form-actions text-center">
            <%= f.button :submit, "Log in", class: "btn btn-primary btn-form" %>
          </div>

        <% end %>

        <div class="mt-3 text-center">
          <%= render "devise/shared/links" %>
        </div>

      </div>
    </div>
  </div>
</div>
