<%= fields_for "recipe[steps_attributes][#{turbo_id_for(step)}]", step do |ff| %>
  <fieldset id="<%= turbo_id_for(step) %>">
    <%= ff.label :description %><br>
    <article class="d-flex gap-3">
      <%= ff.text_field :description, class: "form-control" %>
      <%# passage de l'id pour le form edit %>
      <%= ff.hidden_field :id %>
      <%= button_tag "Delete Step", formaction: step_path(turbo_id_for(step)), formmethod: :delete do %>
        <i class="fa-solid fa-trash"></i>
      <% end %>
    </article>
    <%# <button data-ingredients-target= "delete" data-action= "click->ingredients#removeRow" type="button" class="trash"><i class="fa-solid fa-trash"></i></button> %>
  </fieldset>
<% end %>
